h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:cursive;
}

h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: cursive;
}

h3{
   font-family:cursive;
}

body{
    text-align: center;
    background-color:cornsilk;
}

i{
    margin-left: 10px;
    margin-right: 10px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: blueviolet;
    border-width: 10px;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

img{
    margin-bottom: 30px;
    margin-right: px;
}

table{
    margin-left: 50px;
    margin-top: 50px;
}


td{
    padding-left: 50px;
    
}


a{
    color: black;
    margin: 20px;
}

@media (max-width:600px){

    tr{
        display: block;
    }

    table{
        margin: auto;
    }

    .first-img{
        float: left;
    }

    .second-img{
        float: right;
    }

    img{
        width:150px;
        height:150px;

}
